# requirements.txt
# Discord Bot Requirements
discord.py==2.3.2
PyNaCl==1.5.0 # Required for voice
# Database (ALLOW PIP TO CHOOSE LATEST FIXES)
supabase
# Environment Variables
python-dotenv==1.0.0
# HTTP Requests (requests is fine, but remove the httpx pin to allow it to upgrade)
requests==2.31.0 
# Date/Time Utilities
python-dateutil==2.8.2